/Logs
/obj
/Packages
/.gitattributes
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Sci-fi.sln
/UMotionSourceApplication.csproj
/UMotionSourceEditor.csproj
/.vs
/Library
/Assets/TextMesh Pro
/Temp
